<div id="bigWrapper">
    <div id="littleWrapper">
        <div id="collapseOne" class="activeLibraryContainer" data-oc="0">
            <div class="card-group">
                <div class="card w-50">
                    <div class="card-img-top d-flex align-items-center bg-light">
                        <div>
                            <img id="favImg-1" class="img-fluid" src="http://via.placeholder.com/150x150/1f1a38/ffffff?text=Image" alt="Card image cap">
                        </div>
                        <div>
                            <h5 id="favTitle-1" class="col p-2 m-0">Favs: </h5>
                            <h6 id="favAuthor-1" class="col p-2 m-0">Author: </h6>
                        </div>
                    </div>
                </div>
                <div class="card w-50">
                    <div class="card-img-top d-flex align-items-center bg-light">
                        <div>
                            <img id="favImg-2" class="img-fluid" src="http://via.placeholder.com/150x150/1f1a38/ffffff?text=Image" alt="Card image cap">
                        </div>
                        <div>
                            <h5 id="favTitle-2" class="col p-2 m-0">Favs: </h5>
                            <h6 id="favAuthor-2" class="col p-2 m-0">Author: </h6>
                        </div>
                    </div>
                </div>
                <div class="card w-50">
                    <div class="card-img-top d-flex align-items-center bg-light">
                        <div>
                            <img id="favImg-3" class="img-fluid" src="http://via.placeholder.com/150x150/1f1a38/ffffff?text=Image" alt="Card image cap">
                        </div>
                        <div>
                            <h5 id="favTitle-3" class="col p-2 m-0">Favs: </h5>
                            <h6 id="favAuthor-3" class="col p-2 m-0">Author: </h6>
                        </div>
                    </div>
                </div>
                <div class="card w-50">
                    <div class="card-img-top d-flex align-items-center bg-light">
                        <div>
                            <img id="favImg-4" class="img-fluid" src="http://via.placeholder.com/150x150/1f1a38/ffffff?text=Image" alt="Card image cap">
                        </div>
                        <div>
                            <h5 id="favTitle-4" class="col p-2 m-0">Favs: </h5>
                            <h6 id="favAuthor-4" class="col p-2 m-0">Author: </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="collapseTwo" class="activeLibraryContainer" data-oc="0">
            <div class="card-group">
                <div class="card w-50">
                    <div class="card-img-top d-flex align-items-center bg-light">
                        <div>
                            <img id="futImg-1" class="img-fluid" src="http://via.placeholder.com/150x150/1f1a38/ffffff?text=Image" alt="Card image cap">
                        </div>
                        <div>
                            <h5 id="futTitle-1" class="col p-2 m-0">Planning: </h5>
                            <h6 id="futAuthor-1" class="col p-2 m-0">Author: </h6>
                        </div>
                    </div>
                </div>
                <div class="card w-50">
                    <div class="card-img-top d-flex align-items-center bg-light">
                        <div>
                            <img id="futImg-2" class="img-fluid" src="http://via.placeholder.com/150x150/1f1a38/ffffff?text=Image" alt="Card image cap">
                        </div>
                        <div>
                            <h5 id="futTitle-2" class="col p-2 m-0">Planning: </h5>
                            <h6 id="futAuthor-2" class="col p-2 m-0">Author: </h6>
                        </div>
                    </div>
                </div>
                <div class="card w-50">
                    <div class="card-img-top d-flex align-items-center bg-light">
                        <div>
                            <img id="futImg-3" class="img-fluid" src="http://via.placeholder.com/150x150/1f1a38/ffffff?text=Image" alt="Card image cap">
                        </div>
                        <div>
                            <h5 id="futTitle-3" class="col p-2 m-0">Planning: </h5>
                            <h6 id="futAuthor-3" class="col p-2 m-0">Author: </h6>
                        </div>
                    </div>
                </div>
                <div class="card w-50">
                    <div class="card-img-top d-flex align-items-center bg-light">
                        <div>
                            <img id="futImg-4" class="img-fluid" src="http://via.placeholder.com/150x150/1f1a38/ffffff?text=Image" alt="Card image cap">
                        </div>
                        <div>
                            <h5 id="futTitle-4" class="col p-2 m-0">Planning: </h5>
                            <h6 id="futAuthor-4" class="col p-2 m-0">Author: </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="collapseThree" class="activeLibraryContainer" data-oc="0">
            <div class="card-group">
                <div class="card w-50">
                    <div class="card-img-top d-flex align-items-center bg-light">
                        <div>
                            <img id="curImg-1" class="img-fluid" src="http://via.placeholder.com/150x150/1f1a38/ffffff?text=Image" alt="Card image cap">
                        </div>
                        <div>
                            <h5 id="curTitle-1" class="col p-2 m-0">Current: </h5>
                            <h6 id="curAuthor-1" class="col p-2 m-0">Author: </h6>
                        </div>
                    </div>
                </div>
                <div class="card w-50">
                    <div class="card-img-top d-flex align-items-center bg-light">
                        <div>
                            <img id="curImg-2" class="img-fluid" src="http://via.placeholder.com/150x150/1f1a38/ffffff?text=Image" alt="Card image cap">
                        </div>
                        <div>
                            <h5 id="curTitle-2" class="col p-2 m-0">Current: </h5>
                            <h6 id="curAuthor-2" class="col p-2 m-0">Author: </h6>
                        </div>
                    </div>
                </div>
                <div class="card w-50">
                    <div class="card-img-top d-flex align-items-center bg-light">
                        <div>
                            <img id="curImg-3" class="img-fluid" src="http://via.placeholder.com/150x150/1f1a38/ffffff?text=Image" alt="Card image cap">
                        </div>
                        <div>
                            <h5 id="curTitle-3" class="col p-2 m-0">Current: </h5>
                            <h6 id="curAuthor-3" class="col p-2 m-0">Author: </h6>
                        </div>
                    </div>
                </div>
                <div class="card w-50">
                    <div class="card-img-top d-flex align-items-center bg-light">
                        <div>
                            <img id="curImg-4" class="img-fluid" src="http://via.placeholder.com/150x150/1f1a38/ffffff?text=Image" alt="Card image cap">
                        </div>
                        <div>
                            <h5 id="curTitle-4" class="col p-2 m-0">Current: </h5>
                            <h6 id="curAuthor-4" class="col p-2 m-0">Author: </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="collapseFour" class="activeLibraryContainer" data-oc="0">
            <div class="card-group">
                <div class="card w-50">
                    <div class="card-img-top d-flex align-items-center bg-light">
                        <div>
                            <img id="prevImg-1" class="img-fluid" src="http://via.placeholder.com/150x150/1f1a38/ffffff?text=Image" alt="Card image cap">
                        </div>
                        <div>
                            <h5 id="prevTitle-1" class="col p-2 m-0">Previous: </h5>
                            <h6 id="prevAuthor-1" class="col p-2 m-0">Author: </h6>
                        </div>
                    </div>
                </div>
                <div class="card w-50">
                    <div class="card-img-top d-flex align-items-center bg-light">
                        <div>
                            <img id="prevImg-2" class="img-fluid" src="http://via.placeholder.com/150x150/1f1a38/ffffff?text=Image" alt="Card image cap">
                        </div>
                        <div>
                            <h5 id="prevTitle-2" class="col p-2 m-0">Previous: </h5>
                            <h6 id="prevAuthor-2" class="col p-2 m-0">Author: </h6>
                        </div>
                    </div>
                </div>
                <div class="card w-50">
                    <div class="card-img-top d-flex align-items-center bg-light">
                        <div>
                            <img id="prevImg-3" class="img-fluid" src="http://via.placeholder.com/150x150/1f1a38/ffffff?text=Image" alt="Card image cap">
                        </div>
                        <div>
                            <h5 id="prevTitle-3" class="col p-2 m-0">Previous: </h5>
                            <h6 id="prevAuthor-3" class="col p-2 m-0">Author: </h6>
                        </div>
                    </div>
                </div>
                <div class="card w-50">
                    <div class="card-img-top d-flex align-items-center bg-light">
                        <div>
                            <img id="prevImg-4" class="img-fluid" src="http://via.placeholder.com/150x150/1f1a38/ffffff?text=Image" alt="Card image cap">
                        </div>
                        <div>
                            <h5 id="prevTitle-4" class="col p-2 m-0">Previous: </h5>
                            <h6 id="prevAuthor-4" class="col p-2 m-0">Author: </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>