<div id="accordion">
    <div class="card">
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="activeLibraryContainer">
                <div class="activeLibrary row">
                    <div class="alBook card col"><div class="card-body">Favorites Book goes Here</div></div>
                    <div class="alBook card col"><div class="card-body">Favorites Book goes Here</div></div>
                    <div class="alBook card col"><div class="card-body">Favorites Book goes Here</div></div>
                    <div class="alBook card col"><div class="card-body">Favorites Book goes Here</div></div>
                    <div class="alBook card col"><div class="card-body">Favorites Book goes Here</div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="activeLibraryContainer">
                <div class="activeLibrary row">
                    <div class="alBook card col"><div class="card-body">Planning to Read Book goes Here</div></div>
                    <div class="alBook card col"><div class="card-body">Planning to Read Book goes Here</div></div>
                    <div class="alBook card col"><div class="card-body">Planning to Read Book goes Here</div></div>
                    <div class="alBook card col"><div class="card-body">Planning to Read Book goes Here</div></div>
                    <div class="alBook card col"><div class="card-body">Planning to Read Book goes Here</div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="activeLibraryContainer">
                <div class="activeLibrary row">
                    <div class="alBook card col"><div class="card-body">Currently Reading Book goes Here</div></div>
                    <div class="alBook card col"><div class="card-body">Currently Reading Book goes Here</div></div>
                    <div class="alBook card col"><div class="card-body">Currently Reading Book goes Here</div></div>
                    <div class="alBook card col"><div class="card-body">Currently Reading Book goes Here</div></div>
                    <div class="alBook card col"><div class="card-body">Currently Reading Book goes Here</div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="activeLibraryContainer">
                <div class="activeLibrary row">
                    <div class="alBook card col"><div class="card-body">Previously Read Book goes Here</div></div>
                    <div class="alBook card col"><div class="card-body">Previously Read Book goes Here</div></div>
                    <div class="alBook card col"><div class="card-body">Previously Read Book goes Here</div></div>
                    <div class="alBook card col"><div class="card-body">Previously Read Book goes Here</div></div>
                    <div class="alBook card col"><div class="card-body">Previously Read Book goes Here</div></div>
                </div>
            </div>
        </div>
    </div>
</div>








<!-- 
<div id="footerCollapse" class="collapse">
    
</div> -->