<title>Bookathon</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->  
        <link rel="icon" type="image/png" href="static/register/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/register/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/register/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/register/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/register/vendor/animate/animate.css">
    <!--===============================================================================================-->  
        <link rel="stylesheet" type="text/css" href="static/register/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/register/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/register/vendor/select2/select2.min.css">
    <!--===============================================================================================-->  
        <link rel="stylesheet" type="text/css" href="static/register/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/register/css/util.css">
        <link rel="stylesheet" type="text/css" href="static/register/css/main.css">
    <!--===============================================================================================-->
    <!--===============================================================================================-->
        <script src="static/register/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
        <script src="static/register/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
        <script src="static/register/vendor/bootstrap/js/popper.js"></script>
        <script src="static/register/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
        <script src="static/register/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
        <script src="static/register/vendor/daterangepicker/moment.min.js"></script>
        <script src="static/register/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
        <script src="static/register/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
        <script src="static/js/main.js"></script>   
        <script src="static/js/register.js" ></script>