
<nav class="navbar navbar-expand-lg navbar-light sticky-top nav-bg">
    <a class="navbar-brand" href="#">
        <img src="/static/images/icons/book-48.png" alt="Book Icon">
    </a>
    <button class="navbar-toggler btn-color" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="#menu-toggle" class="btn btn-color" id="menu-toggle">Toggle Menu</a>
            </li>
            <li class="nav-item">
                <a href="/logout" class="btn btn-color1" id="logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>