<div id="navBarContainer">
    <nav class="navBar">
        <a href="static/html/user.html" class="logo">
            <img src="static/images/icons/book-100.png" alt="BookClub Logo">
        </a>
        <div class="group">
            <div class="navItem">
                <a href="static/html/search.html" class="navItemLink">Search
                    <img src="static/images/icons/search-50.png" alt="Search Icon" class="icon">
                </a>
            </div>    
        </div>
        <div class="group">
            <div class="navItem">
                <a href="static/html/favorites.html" class="navItemLink">Your Favorites</a>
            </div>
            <div class="navItem">
                <a href="static/html/toRead.html" class="navItemLink">Books to Read</a>
            </div>
            <div class="navItem">
                <a href="static/html/reading.html" class="navItemLink">Currently Reading</a>
            </div>
            <div class="navItem">
                <a href="static/html/prevRead.html" class="navItemLink">Previously Read</a>
            </div>
        </div>
        <div class="group">
            <div class="navItem">
                <a href="static/html/bookathon.html" class="navItemLink">Create A BookAThon Challenge</a>
            </div>
        </div>
        <div class="group">
                <div class="navItem">
                    <a data-toggle="collapse" href="#footerCollapse" role="button" aria-expanded="false" aria-controls="footerCollapse" class="navItemLink">Show a Library</a>
                </div>
        </div>
    </nav>
</div>