<!-- <div id="navBarContainer">
    <nav class="navbar navbar-expand-lg">
        <a href="#" class="logo">
            <img src="static/images/icons/book-100.png" alt="BookClub Logo">
        </a>
        <div class="group">
            <div class="navItem">
                <a href="static/html/search.html" class="navItemLink">Search
                    <img src="static/images/icons/search-50.png" alt="Search Icon" class="icon">
                </a>
            </div>    
        </div>
        <div class="group">
            <div class="navItem" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed navItemLink" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Favorites
                    </button>
                </h5>
            </div>
            <div class="navItem" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed navItemLink" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Planning to Read
                    </button>
                </h5>
            </div>
            <div class="navItem" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed navItemLink" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Currently Reading
                    </button>
                </h5>
            </div>
            <div class="navItem" id="headingFour">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed navItemLink" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Previously Read
                    </button>
                </h5>
            </div>
        </div>
        <div class="group">
            <div class="navItem">
                <a href="static/html/bookathon.html" class="navItemLink">Create A BookAThon Challenge</a>
            </div>
        </div>
    </nav>
</div> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
            </li>
        </ul>
    </div>
</nav>