<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1>Search for a book</h1>
             <div class="row">
            <div class="col">
                <form id="searchForm" method="GET" class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" id="search" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" id="searchSubmit" type="submit">
                        <img src="static/images/icons/search-50.png" alt="Search Icon" id="searchIcon">
                    </button>
                </form>
            </div>
        </div>
        </div>
        <div id="resultsContainer">
            
        </div>
    </div>
</div>