<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1>Book Search</h1>
        </div>
        <div id="searchContainer">
            <form id="searchForm" method="GET">
                <label for="search">Search for your favorite books</label>
                <input type="text" id="search">
                <button type="submit" id="searchSubmit">
                    <img src="static/images/icons/search-50.png" alt="Search Icon" id="searchIcon">
                </button>
            </form>
        </div>
        <div id="resultsContainer">
            
        </div>
    </div>
</div>