<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="nav-item">
            <a href="#collapseOne" class="btn" id="toggleOne">Favorites</a>
        </li>
        <li class="nav-item">
            <a href="#collapseTwo" class="btn" id="toggleTwo">Planning to Read</a>
        </li>
        <li class="nav-item">
            <a href="#collapseThree" class="btn" id="toggleThree">Currently Reading</a>
        </li>
        <li class="nav-item">
            <a href="#collapseFour" class="btn" id="toggleFour">Previously Read</a>
        </li>
        <hr>
        <li>
            <a href="/search" class="btn">Search for Books</a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->