<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="nav-item">
            <div id="headingOne">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Favorites
                    </button>
            </div>
        </li>
        <li class="nav-item">
            <div id="headingTwo">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Planning to Read
                    </button>
            </div>
        </li>
        <li class="nav-item">
            <div id="headingThree">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Currently Reading
                    </button>
            </div>
        </li>
        <li class="nav-item">
            <div id="headingFour">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Previously Read
                    </button>
            </div>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->