/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}

a {
    text-decoration: none;
}

html, body {
    padding:0;
    margin:0;
    height: 100%;
}
body {
    overflow-x: hidden;
}


body {
    background-color: #74AFAD;
    font-size: 14px;
    min-width: 720px;
}

#topContainer {
    min-height: 100%;
    width: 100%;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

.img-fluid {
    max-width: 100px;
}

.nav-bg {
    background: #3f3d56;
}

.btn-color {
    border: 0;
    color: #FFE;
    padding: 15px 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#bc60f6), to(#9873d4));
    background: linear-gradient(#bc60f6, #9873d4);
    border-radius: 60px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;

}


.btn-color1 {
    border: 0;
    color: #FFE;
    padding: 15px 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#bc60f6), to(#9873d4));
    background: linear-gradient(#bc60f6, #9873d4);
    border-radius: 60px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    position: absolute;
    right: 0;
    margin-right: 30px;

}

.btn-color:hover {
    background-color: #558C89;
}

@media(min-width:768px) {
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
}