html, body {
    padding:0;
    margin:0;
    height: 100%;
}

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#fff;
}

body {
    background-color: #181818;
    font-size: 14px;
    min-width: 720px;
}

.activeLibraryContainer {
    width: 100%;
    background-color: #a8a8a8;
    bottom: 0;
    position: fixed;
    min-width: 620px;
}

.activeLibrary {
    display: flex;
    height: 150px;
    padding: 16px;
    box-sizing: border-box;
}

#topContainer {
    min-height: 100%;
    width: 100%;
}

#navBarContainer {
    background-color: #a8a8a8;
    width: 220px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.navBar {
    padding: 25px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}

.logo {
    margin-bottom: 15px;
}

.logo img {
    width: 80px;
}

.navBar .group {
    border-top: 1px solid #9453b0fa;
    padding: 10px 0;
}

.navItem {
    padding: 10px 0;
    font-size: 14px;
    font-weight: 700;
    display: block;
    letter-spacing: 1px;
    position: relative;
}

.navItemLink {
    color: #9453b0fa;
    text-decoration: none;
}

.navItemLink:hover {
    color: #fff;
}

.navItemLink .icon {
    position: absolute;
    right: 0;
    top: 6px;
    width: 25px;
}

#mainViewContainer {
    margin-left: 220px;
    padding-bottom: 150px;
    width: calc(100% - 220px);
}

#mainContent {
    padding: 0 20px;
}

#searchForm {
    position: relative;
}

#search {
    background-color: #181818; 
    height: 18px;
    font-size: 16px;
    width: 40%;
}

#searchForm button {
    background-color: transparent;
    border: none;
}

#searchForm label {
    margin-right: 15px;
}

#searchSubmit img {
    max-height: 100%;
    width: 25px;
}

#searchForm button:hover {
    cursor: pointer;
}

.searchResult {
    border: 3px solid #fff;
    border-radius: 2px;
    margin-top: 50px;
}

.leftBookDiv {
    background-color: #a8a8a8;
}

.rightBookDiv {
    text-align: center;
    background-color: transparent;
}

.resultThumbnail {
    height: 84%;
    width: 56%;
}

#accordion .card {
    background-color: transparent;
    border: none;
}