<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <div id="mainContainer">
        <div class="topContainer">
            <% include ../partials/navBar %>
            <% include ../partials/mainContent %>
        </div>
    </div>
    <% include ../partials/activeLibrary %>
    
    
</body>
</html>