<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V3</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->  
        <link rel="icon" type="image/png" href="static/register/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/register/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/register/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/register/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/register/vendor/animate/animate.css">
    <!--===============================================================================================-->  
        <link rel="stylesheet" type="text/css" href="static/register/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/register/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/register/vendor/select2/select2.min.css">
    <!--===============================================================================================-->  
        <link rel="stylesheet" type="text/css" href="static/register/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/register/css/util.css">
        <link rel="stylesheet" type="text/css" href="static/register/css/main.css">
    <!--===============================================================================================-->
        <script src="/static/js/register.js" ></script>
</head>
<body>
    
    <div class="limiter">
        <div class="container-login100" style="background-image: url('static/register/images/bg-01.jpg');">
            <div class="wrap-login100">
                <form class="login100-form validate-form">
                    <span class="login100-form-logo">
                        <img src="static/register/images/blogo.png" alt="IMG">
                    </span>
                    <span class="login100-form-title p-b-34 p-t-27">
                        BOOKATHON
                    </span>
                    <span class="login100-form-description">
                        Join the fastest growing literary social network
                    </span>
                    <span class="login101-form-description p-b-35">
                        Connect with friends over your favorite books
                    </span>
                    <span class="login102-form-description">
                         <ul>
                    <li><img src="https://png.icons8.com/nolan/50/000000/books.png" class="booklogo">Find books that you enjoy</li>
                    <li><img src="https://png.icons8.com/nolan/50/000000/books.png" class="booklogo">Challenge your friends to read a book</li>
                    <li><img src="https://png.icons8.com/nolan/50/000000/books.png" class="booklogo">Cooridnate book clubs with your friends</li>
                </ul>
                    </span>
                </form>
            </div>
            <div class="wrap-login101">
                <form id="registerForm" class="login100-form validate-form">
            

                    <span class="login100-form-login p-b-33 p-t-27">
                        Create a free account
                    </span>

                    <div class="wrap-input100 validate-input" data-validate = "Enter username">
                        <input id= "email" class="input100" type="text" name="username" placeholder="Username">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input id="password" class="input100" type="password" name="pass" placeholder="Password">
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>

                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Remember me
                        </label>
                    </div>

                    <div class="container-login100-form-btn">
                        <button id="registerButton" type="submit" class="login100-form-btn">
                            Sign up
                        </button>
                    </div>

                    <div class="text-center p-t-90">
                        <span id="hideRegister">
                            Already have an account? Log in here.
                        </span>
                    </div>
                </form>
                <form id="loginForm" class="login100-form validate-form">
            

                    <span class="login100-form-login p-b-33 p-t-27">
                        Login to your account
                    </span>

                    <div class="wrap-input100 validate-input" data-validate = "Enter username">
                        <input id="loginUsername" class="input100" type="text" name="username" placeholder="Username">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input id="loginPassword" class="input100" type="password" name="pass" placeholder="Password">
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>

                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Remember me
                        </label>
                    </div>

                    <div class="container-login100-form-btn">
                        <button id="loginButton" type="submit" class="login100-form-btn">
                            Sign up
                        </button>
                    </div>

                    <div class="text-center p-t-90">
                        <span id="hideLogin">
                            Already have an account? Log in here.
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    

    <div id="dropDownSelect1"></div>
    
<!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
    <script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
    <script src="js/main.js"></script>

</body>
</html>