<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/static/css/search.css">
    <script src="/static/js/search.js"></script>
</head>
<body>
    <div id="wrapper">
        <% include ../partials/navBar %>
        <div class="topContainer">
            <% include ../partials/sidebar %>
            <% include ../partials/searchPart %>
        </div>
    </div>    
    <% include ../partials/activeLibrary %>
    
    
</body>
</html>